extends ../template/layout.pug

block var
  - const title= '🥇 Clases de Baile 【 Salsa y Bachata 】 en Altorreal', metaDescription = 'En la cafetería Panoramic en Altorreal (Murcia), ofrecemos clases de salsa en línea y bachata ✅ (y otros bailes latinos).', body = 'clases'

block content
  .principal
    h1 Clases de Baile Salsa y Bachata en Altorreal
    p En la cafetería Panoramic en Altorreal (Murcia), ofrecemos una magnifica opción si lo que quieres es practicar lo aprendido en un local espectacular donde además daremos algunos talleres de salsa y bachata a lo largo de la noche.
    .globos
      div
        a.globo.logo-panoramic(title='Ampliar Logo Cafetería Panoramic en Altorreal, Murcia' href='/img/logo-panoramic.jpg' target='_blank')
          span Logo
      div
        a.globo.exterior-panoramic(title='Ampliar Exterior Cafetería Panoramic en Altorreal, Murcia' href='/img/exterior-panoramic.jpg' target='_blank')
          span Exterior
      div
        a.globo.interior-panoramic(title='Ampliar Interior Cafetería Panoramic en Altorreal, Murcia' href='/img/interior-panoramic.jpg' target='_blank')
          span Interior
    img.cabecera-fondo(width='1024' height='576' alt='Manu Ruiz dando Clases de Baile de Salsa y Bachata' src='/img/cabecera-clases.jpg')
    include ../includes/clases.pug
    p(itemscope itemtype='http://schema.org/LocalBusiness')
      | También puedes ampliar el 
      a(title='Ampliar Mapa de Clases de Baile Salsa y Bachata en Cafetería Panoramic en Altorreal, Murcia' itemprop='hasMap' href='https://www.google.es/maps/place/Av.+del+Golf,+5,+30506+Altorreal,+Murcia/@38.074619,-1.1645381,16z/data=!4m7!1m4!3m3!1s0xd6386dcc9d3011d:0x9b7f6e4fd0695751!2sAv.+del+Golf,+5,+30506+Altorreal,+Murcia!3b1!3m1!1s0xd6386dcc9d3011d:0x9b7f6e4fd0695751' rel='nofollow' target='_blank') mapa
      |  de 
      strong(itemprop='name') Cafetería Panoramic
      | : 
      span(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
        span(itemprop='streetAddress') Avenida del Golf 5
        | , Edificio Bulevar / 
        span(itemprop='postalCode') 30506
        |  
        span(itemprop='addressLocality') Altorreal, Molina de Segura
        | , 
        span(itemprop='addressRegion') Murcia
      | .
  .capa-anti-eventos(onclick='style.display=\'none\'')
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6281.636039231649!2d-1.1645380999999635!3d38.07461899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6386dcc9d3011d%3A0x9b7f6e4fd0695751!2sAv.+del+Golf%2C+5%2C+30506+Altorreal%2C+Murcia!5e0!3m2!1ses!2ses!4v1441666447902' width='100%' height='350' allowfullscreen)
  include ../includes/locales.pug