extends ../template/layout.pug

block var
  - const title= '🥇 Clases de Baile 【 Salsa y Bachata 】 en Lorquí', metaDescription = 'En la Cafetería Tropical de Lorquí (Murcia), ofrecemos clases de salsa en línea y bachata ✅ (y otros bailes latinos).', body = 'clases'

block content
  .principal
    h1 Clases de Baile Salsa y Bachata en Lorquí
    p Clases de baile de Salsa y Bachata y otros bailes latinos en Cafetería Tropical, Lorquí (Murcia).
    ul
      li
        span.color Salsa Nivel Inicio 2
        | : Jueves de 21:00 a 22:00 (1 hora + 1 hora de Bachata Nivel Medio = 2 horas).
      li
        span.color Bachata Nivel Medio
        | : Jueves de 22:00 a 23:00 (1 hora). En esta hora juntamos a los de Salsa Inicio 2 con los de Salsa Medio.
      li
        span.color Salsa Nivel Medio
        | : Jueves de 23:00 a 00:00 (1 hora + 1 hora de Bachata Nivel Medio = 2 horas).
    .globos
      div
        a.globo.logo-tropical(title='Ampliar Logo Cafetería Tropical, Lorquí (Murcia)' href='/img/logo-tropical.jpg' target='_blank')
          span Logo
      div
        a.globo.exterior-tropical(title='Ampliar Exterior Cafetería Tropical, Lorquí (Murcia)' href='/img/exterior-tropical.jpg' target='_blank')
          span Exterior
      div
        a.globo.interior-tropical(title='Ampliar Interior Cafetería Tropical, Lorquí (Murcia)' href='/img/interior-tropical.jpg' target='_blank')
          span Interior
    img.cabecera-fondo(width='1024' height='576' alt='Manu Ruiz dando Clases de Baile de Salsa y Bachata' src='/img/cabecera-clases.jpg')
    include ../includes/clases.pug
    p(itemscope itemtype='http://schema.org/LocalBusiness')
      | También puedes ampliar el 
      a(title='Ampliar Mapa de Clases de Baile Salsa y Bachata en Cafetería Tropical, Lorquí (Murcia)' itemprop='hasMap' href='https://www.google.es/maps/place/Calle+de+la+Ace%C3%B1a,+1,+30564+Lorqu%C3%AD,+Murcia/@38.0809404,-1.2535282,19z/data=!3m1!4b1!4m7!1m4!3m3!1s0xd64791eefbbcf11:0x8932f74eed8de7ab!2sCalle+de+la+Ace%C3%B1a,+2,+30564+Lorqu%C3%AD,+Murcia!3b1!3m1!1s0xd64791efa9f973b:0x68921b9b243b0eb1' rel='nofollow' target='_blank') mapa
      |  de 
      strong(itemprop='name') Cafetería Tropical
      | : 
      span(itemprop='address' itemscope itemtype='http://schema.org/PostalAddress')
        span(itemprop='streetAddress') Calle La Aceña, 2
        |  / 
        span(itemprop='postalCode') 30564
        |  
        span(itemprop='addressLocality') Lorquí
        | , 
        span(itemprop='addressRegion') Murcia
      | .
  .capa-anti-eventos(onclick='style.display=\'none\'')
  iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d785.136634678044!2d-1.2535282000000258!3d38.08094039999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd64791efa9f973b%3A0x68921b9b243b0eb1!2sCalle+de+la+Ace%C3%B1a%2C+1%2C+30564+Lorqu%C3%AD%2C+Murcia!5e0!3m2!1ses!2ses!4v1441669338124' width='100%' height='350' allowfullscreen)
  include ../includes/locales.pug