#header
  nav
    ul
      div
        div: li: a(title='Clases de Bailes Latinos, Salsa y Bachata en Murcia' href='/') Inicio
        div: li: a(title='Profesor de Bailes Latinos: Manu' href='/#profesor') Profesor
      div
        div(tabindex='1')
          li: a(title='Clases de Baile Salsa y Bachata') Ubicaciones
          ul
            li: a(title='Clases de Baile Salsa y Bachata en Murcia' href='/#ubicaciones') Murcia
            ul
              li: a(title='Academia de Baile Aerodance: Salsa en Murcia' href='/academia-baile-murcia') El Carmen
              li: a(title='Clases de Baile Salsa y Bachata en Copacabana, Centro Zig-Zag, Murcia' href='/clases-baile-copacabana-zig-zag-murcia') Zig-Zag
              li: a(title='Clases de Baile Salsa y Bachata en Tropical, Lorquí' href='/clases-baile-lorqui') Lorquí
              li: a(title='Clases de Baile Salsa en Asociación San José, Molina de Segura' href='/clases-baile-molina-de-segura') Molina de Segura
              li: a(title='Clases de Baile Salsa y Bachata en Panoramix, Altorreal' href='/clases-baile-altorreal') Altorreal
              //- li: a(title='Clases de Baile Salsa y Bachata en Rosa Negra, Elche' href='/clases-baile-elche') Elche
                  div: li: a(title='Cursos Intensivos de Baile Salsa y Bachata' href='/cursos-intensivos-baile') Intensivos
                  div: li: a(title='Clases Particulares de Salsa en Murcia' href='/clases-particulares-baile') Particulares
              //- div: li: a(title='Talleres de Baile Salsa y Bachata' href='/talleres-baile') Talleres
              //- div: li: a(title='Comprar Zapatos de Baile en Murcia' href='/zapatos-baile') Zapatos
              //- div: li: a(title='Música Salsa y Bachata' href='/musica') Música
        div
          li
            a(title='Contacto' href='/#contacto') Contacto
  header
    .titulo Manu Ruiz
    .descripcion Salsa y Bachata
    .novedad
      | Nuevos grupos en septiembre
      br
      | Infórmate
    .reproducir-video
      a(title='Reproducir Vídeo: Manu y Gloria Bailando Salsa en Murcia' href='javascript:void(0)' onclick='document.getElementById(\'light\').style.visibility=\'visible\';document.getElementById(\'light\').style.transform=\'none\';document.getElementById(\'fade\').style.visibility=\'visible\';document.getElementById(\'fade\').style.opacity=\'1\'') ►
  .bajar#bajar
    a(title='Bajar' href='#bajar') ▼