.inline-block
  h2 Horarios
  a(title='Ampliar Horarios Clases de Baile Salsa y Bachata en Murcia' href='/img/horarios.jpg' target='_blank')
    img.horarios(width='480' height='300' alt='Horarios Clases de Baile Salsa y Bachata en Murcia' src='/img/horarios-480x341.jpg')
.inline-block
  h2 Precios
  .precios
    ul
      li
        span.color 2
        |  h/semana = 
        span.color 30
        |  €/mes
      li
        span.color 4
        |  h/semana = 
        span.color 45
        |  €/mes
      li
        span.color 6
        |  h/semana = 
        span.color 55
        |  €/mes
  p.bajo-clases
    | Para más información sobre las 
    a(title='Clases de Baile Salsa y Bachata en Murcia' href='/') clases de baile
    |  de cada local, puedes entrar en los subapartados correspondientes más abajo, ampliar el 
    a(title='Ampliar Mapa de Clases de Baile de Salsa y Bachata en Murcia y Elche' itemprop='hasMap' href='https://www.google.com/maps/d/viewer?mid=zinurO2jhe64.keGRDQNXb3sM' target='_blank') mapa de todos los locales
    |  o llamarnos por teléfono:.
  .social
    a.telefono(title='Llamar por Teléfono' itemprop='telephone' href='tel:+34667956106' target='_blank')
      <svg class="whatsapp" with="48" height="48" alt="Icono Teléfono" viewBox="0 0 480 480" version="1.1" xmlns="https://www.w3.org/2000/svg"><path fill="#FFFFFF" d="M240,30c115.8,0,210,94.2,210,210s-94.2,210-210,210S30,355.8,30,240S124.2,30,240,30 M240,0C107.5,0,0,107.5,0,240 s107.5,240,240,240s240-107.5,240-240S372.5,0,240,0L240,0z M373.8,320.2l-1.3-4.1c-3.2-9.4-13.6-19.3-23.2-21.9l-35.5-9.7 c-9.6-2.6-23.3,0.9-30.4,8l-12.8,12.8c-46.6-12.6-83.2-49.2-95.8-95.9l12.8-12.8c7-7,10.5-20.7,7.9-30.4l-9.7-35.5 c-2.6-9.6-12.5-20-21.9-23.2l-4-1.3c-9.5-3.2-23,0-30,7.1l-19.2,19.2c-3.4,3.4-5.6,13.2-5.6,13.2c-0.6,61,23.3,119.7,66.4,162.9 c43,43,101.5,66.9,162.3,66.4c0.3,0,10.4-2.1,13.8-5.6l19.2-19.2C373.8,343.2,376.9,329.7,373.8,320.2z"/></svg>
      |  667 956 106
    br
    a.telefono.telefono-w(title='Enviar Mensaje por WhatsApp' itemprop='telephone' href='https://api.whatsapp.com/send?phone=34667956106' target='_blank')
      <svg class="whatsapp" with="48" height="48" alt="Icono Whatsapp" viewBox="0 0 560 560" version="1.1" xmlns="https://www.w3.org/2000/svg"><g><path fill="#FFFFFF" d="M477.5,81.4C425.1,29,355.4,0,281.1,0C128.1,0,3.6,124.5,3.6,277.5c0,48.9,12.8,96.7,37,138.7L1.2,560 l147.2-38.6c40.5,22.1,86.2,33.8,132.7,33.8h0.2c153,0,277.5-124.5,277.6-277.5C558.7,203.6,529.9,133.8,477.5,81.4z"/><path fill="#04C208" d="M444.3,114.5c-43.5-43.6-101.5-67.7-163.1-67.7C154,46.9,50.4,150.4,50.3,277.5c0,43.6,12.2,86,35.3,122.8 l5.5,8.7l-23.3,85.1l87.4-22.8l8.4,5c35.4,21,76,32.1,117.4,32.1h0.1c127.1,0,230.6-103.5,230.7-230.6 C511.8,216,487.9,158.1,444.3,114.5z"/><path fill="#FFFFFF" d="M407.7,335.6c-7-3.5-41-20.3-47.4-22.5c-6.3-2.3-11-3.5-15.6,3.5c-4.6,7-17.9,22.5-22,27.2 c-4.1,4.6-8.1,5.2-15,1.7c-7-3.5-29.3-10.8-55.8-34.4c-20.6-18.4-34.5-41.1-38.6-48c-4.1-7-0.5-10.7,3-14.1c3.1-3.1,7-8.1,10.4-12.2 c3.5-4.1,4.6-7,7-11.6c2.3-4.6,1.1-8.7-0.6-12.2c-1.7-3.5-15.6-37.6-21.4-51.5c-5.6-13.5-11.3-11.7-15.6-11.9 c-4-0.2-8.7-0.2-13.3-0.2c-4.6,0-12.2,1.7-18.5,8.7c-6.3,7-24.3,23.7-24.3,57.8s24.9,67.1,28.3,71.7c3.5,4.6,48.9,74.7,118.5,104.7 c16.6,7.2,29.5,11.4,39.5,14.6c16.6,5.3,31.7,4.5,43.7,2.7c13.3-2,41-16.8,46.8-33c5.7-16.2,5.7-30.1,4.1-33 C419.2,340.8,414.6,339,407.7,335.6z"/></g></svg>
      |  WhatsApp