.secundario
  aside.locales
    h2 Donde damos Clases
    .globos
      div
        a.globo.aerodance(title='Academia de Baile Aerodance: Salsa en Murcia' href='/academia-baile-murcia')
          h3 Academia de Baile Aerodance - El Carmen, Murcia
      div
        a.globo.copacabana(title='Clases de Baile Salsa y Bachata en Copacabana, Centro Zig-Zag, Murcia' href='/clases-baile-copacabana-zig-zag-murcia')
          h3 Copacabana - Centro Zig-Zag Murcia
      div
        a.globo.tropical(title='Clases de Baile Salsa en Cafetería Tropical, Lorquí, Murcia' href='/clases-baile-lorqui')
          h3 Cafetería Tropical - Lorquí, Murcia
      div
        a.globo.panoramic(title='Clases de Baile Salsa y Bachata en Panoramic, Altorreal, Murcia' href='/clases-baile-altorreal')
          h3 Panoramic - Altorreal, Murcia
      div
        a.globo.cssj(title='Clases de Baile Salsa en Asociación San José, Molina de Segura, Murcia' href='/clases-baile-molina-de-segura')
          h3 Centro Social San José - Molina de Segura, Murcia
      //- div
        a.globo.rosa-negra(title='Clases de Baile Salsa y Bachata en Rosa Negra, Elche, Alicante' href='/clases-baile-elche')
          h3 Rosa Negra, Elche, Alicante
      //- div
        a.globo.intensivos(title='Cursos Intensivos de Baile Salsa y Bachata en Murcia' href='/cursos-intensivos-baile')
          h3 Intensivos
      //- div
        a.globo.particulares(title='Clases Particulares de Salsa en Murcia' href='/clases-particulares-baile')
          h3 Perticulares
    if body == 'inicio'
      p
        | Las 
        strong clases de bailes latinos
        |  son una actividad muy demandada en todo el mundo, pues proporcionan múltiples beneficios a los que las reciben (mejora la condición física y el control del cuerpo, se conoce gente nueva, libera estrés, es divertido, etc). Además, en muchas ciudades, y Murcia no es una excepción, existen “salsotecas” en las que podrás poner en práctica lo aprendido en tu 
        strong clase de salsa y bachata
        | . No lo pienses más y anímate a probar nuestras 
        strong clases de baile
        | .